<div class="blog">
  <div class="blog_item">
      <div class="name">
          ALok Kumar
      </div>
      <div class="content">
          <img src="../assets/love.jpg" alt=""> Java Program I am looking for java expert. Understand TCP socket programing
          by developing a simplified FTP client that works in the active mode. View Job Post Intermediate Level Fixed
          Price Start Date: Oct 7, 2017 Connects This proposal requires 2 Connects When you submit a proposal, you'll
          have 58 Connects remaining. Your Connects reset on November, 1. Learn more
      </div>
      <div class="control">
          <button value="like">Like</button><button value="Share">Like</button><button value="Comments">Like</button>
      </div>
  </div>
  <div class="blog_item">
      <div class="name">
          ALok Kumar
      </div>
      <div class="content">
          <img src="../assets/love.jpg" alt=""> Java Program I am looking for java expert. Understand TCP socket programing
          by developing a simplified FTP client that works in the active mode. View Job Post Intermediate Level Fixed
          Price Start Date: Oct 7, 2017 Connects This proposal requires 2 Connects When you submit a proposal, you'll
          have 58 Connects remaining. Your Connects reset on November, 1. Learn more
      </div>
      <div class="control">
          <button value="like">Like</button><button value="like">Like</button><button value="like">Like</button>
      </div>
  </div>
  <div class="blog_item">
      <div class="name">
          ALok Kumar
      </div>
      <div class="content">
          <img src="../assets/love.jpg" alt=""> Java Program I am looking for java expert. Understand TCP socket programing
          by developing a simplified FTP client that works in the active mode. View Job Post Intermediate Level Fixed
          Price Start Date: Oct 7, 2017 Connects This proposal requires 2 Connects When you submit a proposal, you'll
          have 58 Connects remaining. Your Connects reset on November, 1. Learn more
      </div>
      <div class="control">
          <button value="like">Like</button><button value="like">Like</button><button value="like">Like</button>
      </div>
  </div>
</div>
