<div class="blog">
  <div class="blog_item" *ngFor="let post of posts">
    <div class="name">
        {{post.name}}
    </div>
    <div class="content">
        <img src="../assets/love.jpg" alt="">
        {{post.content}}
    </div>
    <div class="control" >
         <button value="like" (click) = "UpdatePost(post._id)"> Like</button> <span>{{post.like}}</span>
         <button value="unlike">Unlike</button> <span>{{post.unlike}}</span>
         <input type="text" name="commnet" placeholder="type your comment here...."/>
         <button id="submit">Submit</button>
    </div>
</div>



</div>
