

    <div class="topnav" id="myTopnav">
        <a href="#home">Home</a>
        <a routerLink="/loveBlog">Love Blogs</a>
        <a routerLink="/addiction">Addiction Blogs</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="sidebar">
        <table>
            <tbody>
                <tr>
                    <li><span> Home</span></li>
                    <li><span> Trending</span></li>
                    <li> <span> Subcriptions</span> </li>
                    <hr>
                    <li><span> Home</span></li>
                    <li><span> Trending</span></li>
                    <li> <span> Subcriptions</span> </li>
                    <li><span> Home</span></li>
                    <li><span> Trending</span></li>
                    <li> <span> Subcriptions</span> </li>
                    <li><span> Home</span></li>
                    <li><span> Trending</span></li>
                    <li> <span> Subcriptions</span> </li>
                    <hr>
                    <li><span> Home</span></li>
                    <li><span> Trending</span></li>
                    <li> <span> Subcriptions</span> </li>
                    <li><span> Home</span></li>
                    <li><span> Trending</span></li>
                    <li> <span> Subcriptions</span> </li>
                </tr>
            </tbody>
        </table>
    </div>
   <router-outlet>

   </router-outlet>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

