

    <div class="topnav" id="myTopnav">
        <a href="#home">Home</a>
        <a routerLink="/loveBlog">Love Blogs</a>
        <a routerLink="/addiction">Addiction Blogs</a>
        <a routerLink="/contact">Contact</a>
        <a href="#about">About</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    
   <router-outlet>

   </router-outlet>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

